
    <h1>Contact</h1>
    The page title is set dynamically to <br><h2>Ruby on Rails Tutorial Sample App |<%= @title %></h2>
	<p>
      Contact Ruby on Rails Tutorial about the sample app at the
      <a href="http://railstutorial.org/feedback">feedback page</a>.
    </p>
