
    <h1>Help Page</h1>
    <p>
      This is the help page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	  This is a link to <a href="http://www.youhaveiwant.com">YHIW</a>
    </p>

